.the-head:hover img {
  -webkit-animation: mov 1s infinite ease-in-out;
          animation: mov 1s infinite ease-in-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.the-head h3 {
  position: relative;
  font-size: 30px;
  color: #00aaff;
  font-weight: 400;
  margin: auto;
}

@media (max-width: 992px) {
  .the-head h3 {
    font-size: 26px;
    width: 120px;
  }
}

.the-head h3::after {
  content: "";
  width: 100%;
  height: 12px;
  position: absolute;
  bottom: -3px;
  left: 0;
  background-color: rgba(254, 209, 9, 0.4);
}

@-webkit-keyframes mov {
  0% {
    position: relative;
    top: 0;
  }
  33% {
    position: relative;
    top: -30px;
  }
  66% {
    position: relative;
    top: 0px;
  }
  100% {
    position: relative;
    top: -30px;
  }
}

@keyframes mov {
  0% {
    position: relative;
    top: 0;
  }
  33% {
    position: relative;
    top: -30px;
  }
  66% {
    position: relative;
    top: 0px;
  }
  100% {
    position: relative;
    top: -30px;
  }
}

/*start upper header*/
ul {
  padding: 0;
  margin: 0;
}

.header {
  background: #00aaff;
  color: #fff;
  padding: 10px 0;
}

.header .head-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .head-content .adresses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

@media (min-width: 767px) {
  .header .head-content .adresses {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .header .head-content .adresses {
    width: 64%;
  }
}

.header .head-content .adresses li span:hover {
  color: #fed109;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.header .head-content .adresses li:not(:last-of-type) {
  position: relative;
}

.header .head-content .adresses li:not(:last-of-type) i {
  margin-left: 10px;
}

.header .head-content .adresses li:not(:last-of-type)::after {
  content: '';
  display: block;
  height: 100%;
  width: 1px;
  position: absolute;
  background: #fff;
  left: -56PX;
  top: 0;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header .head-content .adresses li:not(:last-of-type)::after {
    left: -30px;
  }
}

@media (max-width: 991px) {
  .header .head-content .adresses li:not(:last-of-type)::after {
    left: -15px;
  }
}

.header .head-content .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (min-width: 992px) {
  .header .head-content .media {
    width: 30%;
  }
}

@media (min-width: 767px) {
  .header .head-content .media {
    width: 10% !important;
  }
}

.header .head-content .media li {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.header .head-content .media li:not(:last-of-type) {
  margin-left: 20px;
}

.header .head-content .media li:hover {
  color: #fed109;
}

/*End upper header*/
/*start main header*/
.main-header {
  margin-top: 20px;
}

.main-header .search-form {
  position: relative;
  height: 50px;
}

.main-header .search-form i {
  position: absolute;
  right: 5px;
  z-index: 99;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #00aaff;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .main-header .search-form i {
    right: -5px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .main-header .search-form i {
    right: -30px;
  }
}

.main-header .search-form input {
  position: absolute;
  width: 80%;
  border: none;
  outline: none;
  border: 1px solid #00aaff;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  left: 115px;
  height: 100%;
  padding-right: 35px;
}

.main-header .search-form input:focus {
  color: #00aaff;
}

.main-header .search-form input::-webkit-input-placeholder {
  color: #00aaff;
}

.main-header .search-form input:-ms-input-placeholder {
  color: #00aaff;
}

.main-header .search-form input::-ms-input-placeholder {
  color: #00aaff;
}

.main-header .search-form input::placeholder {
  color: #00aaff;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .main-header .search-form input {
    padding-right: 40px;
  }
}

.main-header .search-form button {
  position: absolute;
  left: 0;
  border: none;
  outline: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #00aaff;
  border: 1px solid #00aaff;
  color: #fff;
  width: 116px;
  font-size: 21px;
  font-weight: 700;
  height: 100%;
}

.main-header .shoping li {
  color: #00aaff;
  font-size: 20px;
}

.main-header .shoping li:first-of-type {
  position: relative;
}

.main-header .shoping li:first-of-type::after {
  content: "2";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  font-size: 8px;
  background: #f00;
  border-radius: 50%;
  color: #fff;
  right: -40%;
  top: 0;
  line-height: 15px;
  text-align: center;
}

.main-header .shoping li:nth-of-type(2) {
  margin-right: 20px;
  margin-left: 20px;
}

.main-header .bars {
  width: 40px;
  margin-right: auto;
  font-size: 24px;
  color: #00aaff;
}

.main-header .bars i {
  cursor: pointer;
}

/*End main header*/
.menu {
  display: none;
}

.menu .overlay {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(183, 183, 183, 0.24);
  width: 100%;
  height: 100%;
}

.menu .overlay .side-bar {
  position: absolute;
  right: -205px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-box-shadow: -2px 0px 15px rgba(0, 170, 255, 0.6);
          box-shadow: -2px 0px 15px rgba(0, 170, 255, 0.6);
  width: 200px;
  height: 100%;
  color: #fff;
  padding-top: 60px;
  background: #00aaff;
}

.menu .overlay .side-bar .times {
  color: #fff;
  font-size: 22px;
  margin-right: 20px;
  margin-top: -20px;
}

.menu .overlay .side-bar .times i {
  cursor: pointer;
}

.menu .overlay .side-bar .links {
  text-align: center;
}

.menu .overlay .side-bar .links li {
  line-height: 2;
}

.menu .overlay .side-bar .links li a {
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.menu .overlay .side-bar .links li a:hover {
  color: #f62779;
}

.menu .overlay .side-bar .links li a:hover::after {
  width: 25px;
}

.menu .overlay .side-bar .links li a:after {
  content: '';
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: block;
  width: 0;
  height: 2px;
  background: #f62779;
  position: absolute;
  bottom: -8px;
  right: 0;
}

.menu .overlay .shoping {
  margin-top: 250px;
  margin-right: 30px;
  font-size: 22px;
}

.menu .overlay .shoping li:nth-of-type(2) {
  margin: 0 15px;
}

.menu .overlay .shoping li:first-of-type {
  position: relative;
}

.menu .overlay .shoping li:first-of-type::after {
  content: "2";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  font-size: 8px;
  background: #f00;
  border-radius: 50%;
  color: #fff;
  right: -40%;
  top: 0;
  line-height: 15px;
  text-align: center;
}

.menu .overlay .shoping i {
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.menu .overlay .shoping i:hover {
  color: #f62779;
}

/*start main links*/
.main-sections .links {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-sections .links li {
  margin: 20px 30px 0;
}

.main-sections .links li a {
  text-decoration: none;
  color: #b7b7b7;
  font-weight: 700;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-decoration: none;
}

.main-sections .links li a:hover {
  color: #f62779;
}

.main-sections .links li a:hover::after {
  width: 25px;
}

.main-sections .links li a:after {
  content: '';
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: block;
  width: 0;
  height: 2px;
  background: #f62779;
  position: absolute;
  bottom: -8px;
  right: 0;
}

/*End main links*/
/*start slick slider*/
.new-product {
  position: relative;
  margin-top: 20px;
}

.new-product .slick-dots {
  bottom: 10px !important;
}

.new-product .slick-item {
  background: url("../../images/Intro.png") center;
  background-size: cover;
  height: 404px;
}

@media (max-width: 767px) {
  .new-product .slick-item {
    height: 200px;
  }
}

.new-product .slick-item p {
  margin-top: 8%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 39px;
  width: 49%;
}

@media (max-width: 767px) {
  .new-product .slick-item p {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 12%;
  }
}

.new-product::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(62deg, rgba(0, 170, 255, 0.2) 22%, rgba(246, 39, 121, 0.2) 100%);
}

.new-product .slick-dots li button:before {
  background-color: #f62779 !important;
  border-radius: 50%;
  z-index: 99;
  width: 10px;
  height: 10px;
}

/*End slick slider*/
/*start new arrived*/
.wasal {
  margin-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

@media (max-width: 992px) {
  .wasal {
    margin-top: 40px;
  }
}

.wasal .the-head h3 {
  width: 140px;
}

.wasal .new-arrived {
  margin-top: 90px;
  position: relative;
}

.wasal .new-arrived .item {
  margin: 0 5px;
  border-radius: 3px;
  height: 260px;
  border: 1px solid #b7b7b7;
}

.wasal .new-arrived .item:hover .bottom-part {
  background: rgba(246, 39, 121, 0.3);
}

.wasal .new-arrived .item img {
  width: 50%;
  height: 120px;
  display: block;
  margin: auto;
  margin-top: 30px;
}

.wasal .new-arrived .item .bottom-part {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 90px;
  background: rgba(183, 183, 183, 0.24);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.wasal .new-arrived .item .bottom-part p {
  margin-top: 20px;
}

.wasal .new-arrived .item .bottom-part span {
  color: #f62779;
}

.wasal .slick-dots li button:before {
  margin-top: 10px;
  background-color: #f62779 !important;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  z-index: 99;
}

/*End new arrived*/
/*start diccounts*/
.discount {
  background: url("../../images/banner-back.png") center;
  background-size: cover;
  position: relative;
}

@media (max-width: 767px) {
  .discount {
    padding-bottom: 15px;
  }
}

@media (min-width: 767px) {
  .discount::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: -193px;
    left: 120px;
    background: url("../../images/tamtam.png") center no-repeat;
    background-size: contain;
  }
}

.discount .info {
  margin-top: 75px;
}

@media (max-width: 767px) {
  .discount .info {
    margin-top: 25px;
  }
}

.discount .info p {
  font-size: 35px;
  max-width: 100%;
  color: black;
  font-weight: 700;
  width: 700px;
}

.discount .info p span {
  color: #f62779;
}

@media (max-width: 992px) {
  .discount .info p {
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  .discount .info p {
    font-size: 22px;
    width: 900px;
  }
}

.discount .info .common-button {
  padding: 14px 70px;
  font-size: 30px;
  border: none;
  background: #f62779;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  margin-top: 15px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  position: relative;
}

@media (max-width: 992px) {
  .discount .info .common-button {
    padding: 10px 65px;
    margin-top: 3px;
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  .discount .info .common-button {
    padding: 6px 18px;
    margin-top: 5px;
    font-size: 22px;
  }
}

.discount .info .common-button:hover {
  color: #fed109;
}

.discount .info .common-button:hover::before {
  top: 0;
}

.discount .info .common-button:hover::after {
  bottom: -25px;
}

@media (min-width: 767px) {
  .discount .info .common-button::before {
    content: '';
    position: absolute;
    right: 0;
    top: -61px;
    width: 60px;
    height: 64px;
    background: url("../../images/tamtam.png") center no-repeat;
    background-size: contain;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
}

@media (min-width: 767px) {
  .discount .info .common-button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -78px;
    width: 62px;
    height: 77px;
    background: url("../../images/bogy.png") center no-repeat;
    background-size: contain;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
}

/*End diccounts*/
/*start games*/
.games {
  margin-top: 180px;
}

.games .the-head {
  margin-bottom: 60px;
}

.games .the-head h3 {
  width: 100px;
}

.games .upper-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .games .upper-part {
    margin-top: 20px;
  }
}

.games .upper-part div {
  width: 47.5%;
}

.games .upper-part div img {
  border-radius: 10px;
}

.games .bottom-part {
  margin-top: 25px;
}

.games .bottom-part img {
  border-radius: 10px;
}

@media (max-width: 767px) {
  .games {
    margin-top: 40px;
  }
}

/*End games*/
/*start about*/
.about {
  margin-top: 140px;
}

.about .the-head {
  margin-bottom: 40px;
}

.about .the-head h3 {
  width: 140px;
}

@media (max-width: 767px) {
  .about {
    margin-top: 40px;
  }
}

/*End about*/
/*start we are*/
.we-are {
  margin-top: 180px;
}

@media (max-width: 767px) {
  .we-are {
    margin-top: 60px;
  }
}

.we-are .right-part .the-head {
  width: 140px;
  margin-bottom: 30px;
}

.we-are .right-part p {
  color: #b7b7b7;
}

.we-are .right-part button {
  padding: 12px 50px;
  font-size: 20px;
  border: none;
  background: #00AAFF;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  margin-top: 15px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  position: relative;
  border: 1px solid #00AAFF;
}

.we-are .right-part button:hover {
  background: #fff;
  color: #00AAFF;
}

.we-are .right-part button:hover::after {
  bottom: 0px;
}

.we-are .right-part button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: url("../../images/bogy.png") center no-repeat;
  background-size: contain;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.we-are .left-part {
  width: 100%;
  position: absolute;
  top: -430px;
  z-index: -1;
}

@media (max-width: 1200px) {
  .we-are .left-part {
    top: -300px !important;
  }
}

@media (max-width: 992px) {
  .we-are .left-part {
    top: -90px !important;
  }
}

/*End we are*/
/*start testmonials*/
.testmonials {
  margin-top: 60px;
  background: #00AAFF;
  padding: 80px 0;
  position: relative;
}

.testmonials::before {
  content: '';
  width: 100%;
  height: 2px;
  opacity: 0.5;
  top: 10px;
  left: 0;
  position: absolute;
  background: url("../../images/Line 21.png");
}

.testmonials::after {
  content: '';
  width: 100%;
  height: 2px;
  opacity: 0.5;
  bottom: 10px;
  left: 0;
  position: absolute;
  background: url("../../images/Line 21.png");
}

.testmonials .the-head h3 {
  width: 280px;
  color: #fff;
  font-weight: 500;
}

.testmonials .opinions {
  position: relative;
  margin-top: 60px;
}

@media (min-width: 0) {
  .testmonials .opinions .slick-list {
    height: 440px !important;
  }
}

.testmonials .opinions .left-slider-comment {
  position: absolute;
  left: 0;
  top: 50%;
  width: 60px;
  height: 60px;
  background: #fed109;
  border-radius: 50%;
  text-align: center;
  line-height: 55px;
  cursor: pointer;
}

.testmonials .opinions .right-slider-comment {
  position: absolute;
  right: 0;
  top: 50%;
  width: 60px;
  height: 60px;
  background: #fed109;
  border-radius: 50%;
  text-align: center;
  line-height: 55px;
  cursor: pointer;
}

@media (min-width: 767px) {
  .testmonials .opinions .right-slider-comment {
    z-index: 9;
  }
}

.testmonials .opinions .opinion-item .img {
  width: 200px;
  margin: auto;
}

.testmonials .opinions .opinion-item .img img {
  border-radius: 30%;
}

.testmonials .opinions .opinion-item p {
  margin-top: 50px !important;
  text-align: center;
  width: 40%;
  margin: auto;
  color: #fff;
  font-size: 18px;
  position: relative;
}

.testmonials .opinions .opinion-item p::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  left: -70px;
  top: 0;
  background: url("../../images/after.png") no-repeat;
}

@media (max-width: 767px) {
  .testmonials .opinions .opinion-item p::after {
    width: 30px;
    height: 30px;
    left: -20px;
  }
}

.testmonials .opinions .opinion-item p::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  right: -70px;
  top: 0;
  background: url("../../images/before.png") no-repeat;
}

@media (max-width: 767px) {
  .testmonials .opinions .opinion-item p::before {
    width: 30px;
    height: 30px;
    right: -20px;
  }
}

@media (max-width: 992px) {
  .testmonials .opinions .opinion-item p {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .testmonials .opinions .opinion-item p {
    width: 80% !important;
    font-size: 14px;
  }
}

.testmonials .opinions .opinion-item h3 {
  text-align: center;
  color: #fff;
  width: 165px;
  margin: auto;
  margin-top: 30px;
}

@media (max-width: 992px) {
  .testmonials .opinions .opinion-item h3 {
    font-size: 26px;
  }
}

.testmonials .slick-dots li button:before {
  margin-top: 10px;
  background-color: #fed109 !important;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  z-index: 99;
}

/*End testmonials*/
/*start articals*/
.articals {
  margin-top: 60px;
}

.articals .the-head h3 {
  width: 180px;
}

.articals .articals-container {
  margin-top: 50px;
  position: relative;
}

.articals .articals-container .right-slider-comment {
  position: absolute;
  right: 40%;
  bottom: -40px;
  cursor: pointer;
  z-index: 9;
}

.articals .articals-container .left-slider-comment {
  position: absolute;
  left: 40%;
  bottom: -40px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: pointer;
}

.articals .articals-container .artical-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articals .articals-container .artical-item .left-part {
  margin-right: 25px;
}

.articals .articals-container .artical-item .left-part h3 {
  font-size: 22px;
}

@media (max-width: 1200px) {
  .articals .articals-container .artical-item .left-part h3 {
    font-size: 16px;
    line-height: 1.6;
  }
}

.articals .articals-container .artical-item .left-part p {
  color: #b7b7b7;
}

.articals .articals-container .artical-item .left-part p i {
  color: #000;
}

.articals .articals-container .artical-item .left-part button {
  padding: 12px 50px;
  font-size: 20px;
  border: none;
  background: #00AAFF;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  margin-top: 15px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  position: relative;
  border: 1px solid #00AAFF;
}

.articals .articals-container .artical-item .left-part button:hover {
  background: #fff;
  color: #00AAFF;
}

.articals .articals-container .artical-item .left-part button:hover::after {
  bottom: 0px;
}

.articals .articals-container .artical-item .left-part button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: url("../../images/bogy.png") center no-repeat;
  background-size: contain;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

@media (max-width: 1200px) {
  .articals .articals-container .artical-item .left-part button::after {
    height: 40px;
  }
}

@media (max-width: 1200px) {
  .articals .articals-container .artical-item .left-part button {
    padding: 8px 30px 8px 35px;
    font-size: 16px;
    font-weight: 400;
  }
}

.articals .slick-dots li button:before {
  margin-top: 10px;
  background-color: #f62779 !important;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  z-index: 99;
}

/*End articals*/
/* start features*/
.features {
  margin-top: 100px;
}

.features .feat {
  text-align: center;
  border: 1px solid #00AAFF;
  border-radius: 10px;
  padding: 15px;
  margin: 0 7.5px;
}

.features .feat:hover {
  background: rgba(0, 170, 255, 0.1);
}

.features .feat:hover .photo {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.features .feat .photo {
  width: 100px;
  height: 75px;
  margin: auto;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.features .feat .photo .last {
  margin-right: 15px;
}

.features .feat h4 {
  font-size: 22px;
  margin: 20px 0;
}

.features .feat p {
  color: #b7b7b7;
}

/* End features*/
/*start map*/
.map {
  margin-top: 40px;
}

.map iframe {
  width: 100% !important;
}

/*End map*/
.footer {
  background-color: #b4f0ff;
  padding: 40px 0;
  position: relative;
  font-size: 14px;
}

.footer::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 30px;
  top: -30px;
  left: 0;
  background: url("../../images/footer-bg-pattern.png");
  background-size: contain;
}

@media (max-width: 567px) {
  .footer::before {
    top: -20px;
    background-repeat: no-repeat;
  }
}

@media (min-width: 767px) {
  .footer::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 170px;
    left: 60px;
    bottom: -39px;
    background: url("../../images/bogy.png") no-repeat;
    background-size: contain;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
  }
}

.footer .red {
  color: #f62779;
}

.footer .first-part p {
  margin-top: 15px;
  font-size: 14px;
  width: 90%;
}

.footer .first-part ul li {
  margin: 2px;
}

.footer .third-part li, .footer .forth-part li {
  line-height: 2.5;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer .third-part li:hover, .footer .forth-part li:hover {
  color: #f62779;
  cursor: pointer;
}

/*start the end*/
.the-End {
  padding: 28px 0;
  background: #00AAFF;
  color: #fff;
}

@media (max-width: 766px) {
  .the-End {
    text-align: center;
  }
}

.the-End ul {
  width: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 767px) {
  .the-End ul {
    margin-right: auto;
  }
}

@media (max-width: 766px) {
  .the-End ul {
    margin: 10px auto 0 auto;
  }
}

/*end the end*/
/*# sourceMappingURL=home.css.map */